div {
    height: 100%;
}
.widthed_page {
    margin-top: 100px;
}
/*##### CENTRATURA TESTO ##### */
div[class *= "col-"] span {
    display: inline-block;
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    right: -50%;
}


/* ##### ULTIMA RIGA ##### */
.last_row {
    padding: 10px;
}

.last_row div[class*="col-"] {
    height: 100%;
    background-color: #f07f80;
    border: 1px solid white;
}
